@font-face {
    font-family: fredericka;
    src: url(../fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf);
    }
@font-face {
        font-family: opensans;
        src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
        }
* {
    margin: 0;
    padding: 0;
    font-family: opensans;
    box-sizing: border-box;
}
h1 a {
    font-family: fredericka;
    color: white;
    text-decoration: none;
    padding: 20px 50px;;
    font-size: 1.8rem;
}
h2 {
    text-align: center;
    font-family: fredericka;
    color: white;
}
header {
    background: url(../img/Lev3_2.jpg) no-repeat center/cover;
    height: 100vh;
}
header article {
    width: 24%;
    margin: 0 auto;
    padding-top: 14%;
    color: white;
    text-align: center;
}
header article p {
    padding: 14px 0 26px 0;
}
header article a {
    text-decoration: none;
    margin: 10px;
    border: 1px solid white;
    padding: 8px 40px;
    color: white;
}
header article a:hover { 
    background: white;
    color: black;
}
header ul {
    position: absolute; 
    bottom: 2rem;
    right:3rem;
    color: white;
}
header li {
list-style-type: none;
line-height: 1.9rem;
}
header li a {
    color: white;
    text-decoration: none;
}
header li a :hover {
    text-decoration: underline;
}
main article {
    margin: 0 auto;
    text-align: center;
}
main h2 {
    color: black;
    font-size: 1.5rem;
padding: 2rem 0;
}
main section article:nth-of-type(1) p {
    margin: 0 auto;
    width: 40%;
    text-align: center;
}
main section article:nth-of-type(2) {
    margin: 30px auto;
    border:6px double black;
    width: 20%;
}
main section article:nth-of-type(2) p {
    font-size: 1.1rem;
    padding: 10px;
}
main section article:nth-of-type(2) p a {
    color: black;
    text-decoration: none;
}
main section article:nth-of-type(2) p a :hover {
    text-decoration: underline;
}
footer {
    margin-top: 100px;
    background: #3a3b4a;
    padding: 30px 20px 20px 20px;
}
footer p {
    color: white;
    width: 45%;
    margin-bottom: 24px;
}

footer article a {
    text-decoration: none;
    margin: 10px 0;
    border: 1px solid white;
    padding: 6px 40px;
    color: white;
}
footer article a :hover {
    background: white;
    color: black;
}
footer nav {
    text-align: right;
}
nav li {
    display: inline;
    list-style-type: none;
    margin: 0 15px 0 0; 
}
nav li a {
    text-decoration: none;
    color: white;
}
nav li a :hover {
text-decoration: underline;
}